<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>
 
<p>
  <strong>Species</strong>
  <%= @plant.species %>
</p>

<p>
  <strong>Age</strong>
  <%= @plant.age %>
</p>

<p>
  <strong>Last Potted On:</strong>
  <%= @plant.last_potted_date %>
</p>

<p>
  <strong>Last Rotated On:</strong>
  <%= @plant.last_rotated_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>